<form>
  <div *ngIf="!display" class="card">
    <div>
      <div class="form-row">
        <div class="col">
          <input type="text" [(ngModel)]="name" (keyup)="update()" value="{{name}}" name="name" class="form-control"
            placeholder="Field name">
        </div>
        <div class="col">
          <!-- <select (change)="update()" [(ngModel)] = "type" name="type" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="margin: 0px;">
          <option value="0" selected disabled hidden>Data type</option>
          <option *ngFor="let data of datatypes;index as in" value="{{in}}">{{data}}</option>
        </select> -->
          <div class="input-group mb-3" style="margin-bottom: 0px!important;padding: 4px;">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Type</label>
            </div>
            <select value="datatypes.indexOf(type)" (change)="update()" [(ngModel)]="type" name="type" style="margin: 0px;" class="custom-select"
              id="inputGroupSelect01">
              <option value="0" selected disabled hidden>Data type</option>
              <option *ngFor="let data of datatypes;index as in" value="{{in}}">{{data}}</option>
            </select>
          </div>
        </div>
        <div class="col" class="checkboxes">
          <div class="form-check form-check-inline">
            <input (change)="update()" [(ngModel)]="optional" name="optionals" class="form-check-input" type="checkbox"
              value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Optional</label>
          </div>
          <div class="form-check form-check-inline">
            <input (change)="update()" [(ngModel)]="exlusive" name="exlusives" class="form-check-input" type="checkbox"
              id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Exclusive</label>
          </div>
        </div>
        <button (click)="deleteItem()" type="button" class="btn btn-danger">X</button>
      </div>
    </div>
  </div>
  <div *ngIf="display">


    <div class="form-row">
      <div class="col">
        <code>{{name}}</code>
      </div>
      <div class="col">
        <kbd>{{type}}</kbd>
      </div>
      <div class="col">
        <span *ngIf="optional" class="badge badge-dark">Optional</span>
        <span *ngIf="exlusive" class="badge badge-dark">Exclusive</span>
      </div>
    </div>


  </div>
</form>
