.card{
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
.form-control,button{

}
.checkboxes{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkboxes > div,.checkboxes > span{
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 0px!important;
}
code{
  color: #2196f3;
}
span{
  margin-right: 20px;
  text-overflow: ellipsis;
}
.desc{
width: 100px;
}
.exclusive{
  margin-left: 0px;
}
.exc-label{
  margin-left: 18px;
}
.form-check{
  padding: 0px;
}
.full-description{
  margin: 16px 5px 0px 5px;
}
kbd{
  text-overflow: ellipsis;
  width: 100px;
  margin-right: 10px;
}
p{
  text-overflow: ellipsis;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.685);
}
.highlight{
  background-color: rgba(0, 0, 0, 0.014);
}
.noHighlight{
  background-color: #fff;
}
