.card{
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
.form-control,button{
  margin: 4px;
}
.checkboxes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.checkboxes > div,.checkboxes > span{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
code{
  color: #2196f3;
}
span{
  margin-right: 20px;
}
