.card-float{
  min-height: 40px;
  padding: 50px;
  max-width: 1000px;
  margin: 0px auto 0px auto;
}
.form-control,.name{
  width: 50%;
}
h1{
  margin-bottom: 20px;
}
#record-btn{
  float: right;
  width: 200px;
}
