nav {
  background: #2196f3;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.23);
}

nav>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {}

ul {
  display: flex;
  margin: 0px 50px 0px 0px;
}

li {
  flex: 1;
  height: 80px;
  padding: 0px 40px 0px 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #b7dfff;
}

li:hover, .selected {
  background-color: rgba(0, 0, 0, 0.322);
}

a {
  width: 100px;
  text-align: center;
  color: white;
  font-size: larger;
}

h1 {
  color: white
}

Button {
  border-radius: 11px;
  background: #2196f3;
  color: rgba(255, 255, 255);
  transition-duration: 300ms;
  box-shadow: 9px 9px 18px #1d86d8, -9px -9px 18px #25a7ff;
}

Button:hover {
  border-radius: 11px;
  background: rgb(33,150,243);
background: linear-gradient(217deg, rgba(33,150,243,1) 0%, rgba(33,150,243,1) 57%, rgba(0,212,255,1) 100%);
  color: rgba(255, 255, 255);
  box-shadow: 16px 16px 29px #176bad, -16px -16px 29px #2bc2ff;
}
.profile{
  height: 60px;
  padding: 20px;
  display: flex;
  margin-left: 24px;
  border-radius: 150px;
  background: linear-gradient(145deg, #1e87db, #23a1ff);
  box-shadow:  4px 4px 9px #1c80cf,
               -4px -4px 9px #26adff;
  align-items: center;
  justify-content: center;
}
.pic{
  width: 40px;
  height: 40px;
  border-radius: 150px;
  background: #2196f3;
  box-shadow:  4px 4px 9px #1c80cf,
               -4px -4px 9px #26adff;
}
.profile span{
  font-weight: 500;
  color: white;
  margin-left: 20px;
}
