<nav>
  <div>
    <h1>API Parser</h1>
    <div class="nav-center">
      <ul>
        <li>
          <a href="/datatypes">Data Types</a>
        </li>
        <li>
          <a href="/methods">Methods</a>
        </li>
      </ul>
    </div>
    <div class="nav-options">
      <Button (click)="upload()" class="export btn">
        {{buttonText}}
      </Button>
    </div>
    <!-- <div class="profile">
      <img class="pic" src="./assets/profile-circle.png"/>
      <span>Made by Biruk</span>
    </div> -->
  </div>
</nav>
